
/*------------------------------------*\
    $Buttons
\*------------------------------------*/
.btn {
  @extend %flex;
  @extend %a--center;
  border-radius: .4rem;
  padding: 1rem 2rem;
  @include font-size(18);
  line-height: 1.4;
  font-weight: inherit;
  cursor: pointer;
  font-family: var(--font-default);
  border: 1px solid var(--color-button-border);
}

.btn--s {
  line-height: 1;
  padding: 1rem;
  @include font-size(16);
}

.btn--icon {
  padding: 1rem;
}

.btn--white {
  background-color: white;
}

.btn--grey {
  border-color: $blue-brand-1;
  background-color: $grey;
}

.btn--blue {
  color: white;
  border-color: $blue-primary;
  background-color: $blue-primary;
}

.btn--tertiary {
  color: var(--color-black);
  background-color: $blue-tertiary;
}

.btn--error {
  border-color: var(--color-red-error);
  background-color: $grey;
  //background-color: var(--color-red-error-alt);
}

.btn--blue-6 {
  color: $blue-primary;
  background-color: $blue-brand-1-6;
}

.btn--facebook {
  color: white;
  border-color: $brand-facebook;
  background-color: $brand-facebook;
}

.btn--twitter {
  color: white;
  border-color: $brand-twitter;
  background-color: $brand-twitter;
}

.btn--rss {
  color: white;
  border-color: $orangeRss;
  background-color: $orangeRss;
}

.btn__icon {
  @extend %flex;
  @extend %mr-1;

  &.mr-0 {
    margin-right: 0 !important;
  }

}

.btn--circle {
  border-radius: 50%;
}
