/*------------------------------------*\
    $Buttons
\*------------------------------------*/
.btn {
  @extend %flex;
  @extend %a--center;
  border-radius: .4rem;
  padding: 1rem 2rem;
  @include font-size(18);
  line-height: 1.4;
  font-weight: inherit;
  cursor: pointer;
  font-family: $font-base-stack;
  border: 1px solid transparent;
}

.btn--icon {
  padding: 1rem;
}

.btn--white {
  border-color: white;
  background-color: white;
}

.btn--grey {
  border-color: $blue-brand-1;
  background-color: $grey;
}

.btn--blue {
  color: white;
  border-color: $blue-primary;
  background-color: $blue-primary;
}

.btn--error {
  border-color: #e4b2ad;
  background-color: #f8ebea;
}

.btn--blue-6 {
  color: $blue-primary;
  background-color: $blue-brand-1-6;
}

.btn--facebook {
  color: white;
  border-color: $brand-facebook;
  background-color: $brand-facebook;
}

.btn--twitter {
  color: white;
  border-color: $brand-twitter;
  background-color: $brand-twitter;
}

.btn--rss {
  color: white;
  border-color: $orangeRss;
  background-color: $orangeRss;
}

.btn__icon {
  @extend %flex;
  @extend %mr-1;
}
