/*------------------------------------*\
    $Fonts
\*------------------------------------*/
@font-face {
  font-family: "Interface Extra Bold";
  src: url("/cdn/fonts/5a21c58a3b1a450001b803e2_interface_corp_extrabold-webfont.woff2") format("woff2"),
       url("/cdn/fonts/5a21c58a3b1a450001b803e2_interface_corp_extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Interface Regular";
  src: url("/cdn/fonts/5a21c58a94230d0001d1049e_interface_corp_regular-webfont.woff2") format("woff2"),
       url("/cdn/fonts/5a21c58a94230d0001d1049e_interface_corp_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Interface Bold";
  src: url("/cdn/fonts/5a21c5893b1a450001b803e1_interface_corp_bold-webfont.woff2") format("woff2"),
       url("/cdn/fonts/5a21c5893b1a450001b803e1_interface_corp_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
