/*------------------------------------*\
    $Hero
\*------------------------------------*/
.hero {
  @extend %flex;
  //margin-top: -7rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 3rem;
  background-color: $blue;

  @media #{$medium-up} {
    margin-top: 0;
    padding-top: 11rem;
  }

  &.hero--dark {
    background-color: var(--color-black);
  }

  &.hero--tall {
    min-height: 75vh;
  }

}

//.bg--sky-day { background: linear-gradient(to bottom, #b7eaff 0%,#94dfff 100%); }
//.bg--sky-alpenglow { background: linear-gradient(to bottom, #82addb 0%,#ebb2b1 100%); }
//.bg--sky-dusk { background: linear-gradient(to bottom, #4a4969 0%,#7072ab 25%,#cd82a0 100%); }

.pull--hero {
  margin-top: -8rem;
}

.page--hero {
  padding-top: 0;

  .site__main {
    //padding-top: 7rem;

    @media #{$medium-up} {
      padding-top: 9rem;
    }
  }

}
