/*------------------------------------*\
    $Regions
\*------------------------------------*/
.region__intro {
  @extend %j--between;
  flex-flow: column wrap;

  @media #{$medium-up} {
    flex-flow: row wrap;
  }

}

.region__intro__info {
  margin-bottom: 2rem;
  flex-flow: column wrap;

  @media #{$medium-up} {
    margin-bottom: 0;
  }

}

.region__forecast {
  margin-top: 2rem;

  @media #{$medium-up} {
    margin-top: 0;
  }

}
